<div class="wrapper wrapper-dados-item wrapper-dados-turma border my-5 pr-4 pl-4  rounded shadow hidden hide-toggle-tab mx-auto widht-page" id="dataInfoTurma">
    <div class="container-fluid py-3 mb-2">
        <div class="row">
            <div class="col-11">
                <div class="row justify-content-center title-turma-nome">

                </div>
                <div class="row justify-content-center title-turma-horario small">

                </div>
                <div class="row justify-content-center title-turma-gestor small">

                </div>
            </div>
            <div class="col ml-auto">
                <a href="" class="mb-auto btn-edit-curso toogle-hide ml-1" data-element="#telaEditCurso"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
            </div>
        </div>
    </div>
    <div class="row ">            
        <!--Coluna com a lista dos alunos-->
        <div class="col mr-2">
            <div class="row justify-content-center bg-gray">
                <span>Alunos</span>                    
            </div>
            <div class="row  mb-4" >     
                <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                        <ul class="list-group list-group-flush m-2 list-turma-aluno">
                                                                                
                        </ul>
                </div>         
                </div>
        </div>
        <!--Coluna com a data matricula-->
        <div class="col mr-2">
            <div class="row justify-content-center bg-gray">
                <span>Data Matrícula</span>                    
            </div>
            <div class="row  mb-4" >     
                <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                        <ul class="list-group list-group-flush m-2 list-turma-matricula">
                                      
                        </ul>
                </div>         
                </div>
        </div>                     
    </div>
</div>