<div class="wrapper wrapper-dados-item wrapper-dados-escola border my-5 pr-4 pl-4  rounded shadow hidden  hide-toggle-tab mx-auto widht-page" id="dataInfoEscola"> 
   <div class="container-fluid py-3 mb-2">
        <div class="row">
            <div class="col-11">
                <div class="row justify-content-center h5 mb-1" id="title-unidade">
                    
                </div>
                <div class="row justify-content-center small" id="title-endereco">

                </div>
                <div class="row justify-content-center small" id="title-contato">
                    
                </div>
            </div>
            <div class="col ml-auto">
                <a href="" class="mb-auto btn-edit-escola toogle-hide ml-1" data-element="#telaEditEscola" data-url="" data-id=""><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
            </div>
        </div>
    </div>
    <div class="row ">
        <!--Coluna com a lista dos membros da Equipe-->
        <div class="col mr-2">
            <div class="row justify-content-center bg-gray">
                <span>Turmas</span>                    
            </div>
            <div class="row  mb-4" >     
                <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                        <ul class="list-group list-group-flush  m-2 " id="list-group-turma">

                        </ul>
                </div>         
                </div>
        </div>
        <!--Coluna com a lista dos membros da Equipe-->
        <div class="col mr-2">
            <div class="row justify-content-center bg-gray">
                <span>Equipe</span>                    
            </div>
            <div class="row  mb-4" >     
                <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                        <ul class="list-group list-group-flush m-2 "  id="list-group-equipe">
                                                                                   
                        </ul>
                </div>         
                </div>
        </div>
        <!--Coluna com a lista dos alunos-->
        <div class="col mr-2">
            <div class="row justify-content-center bg-gray">
                <span>Alunos</span>                    
            </div>
            <div class="row  mb-4" >     
                <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                        <ul class="list-group list-group-flush m-2 " id="list-group-aluno">
                                                                                    
                        </ul>
                </div>         
                </div>
        </div>
        <!--Coluna com a lista dos items do Acervo da escola-->
        <div class="col mr-2">
            <div class="row justify-content-center bg-gray">
                <span>Acervo</span>                    
            </div>
            <div class="row  mb-4" >     
                <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                        <ul class="list-group list-group-flush m-2 " id="list-group-acervo">
                                                                                   
                        </ul>
                </div>         
                </div>
        </div>            
    </div>
</div>
