
{% extends "layout_login.html" %}

    {% block access %}

    <form class="p-4 bg-white border-bottom" action="" method="POST" style=" 
              opacity: 0.9;">
      {{ form.hidden_tag() }}
      <div class="mb-5 text-center">
        <h3 class="text-info">{{ title }}</h3>
      </div>
      <div class="form-group">
        <label for="inputpassword">Nova Senha</label>
        {% if form.password.errors %}
          {{ form.password(class = 'form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class = 'form-control', placeholder = 'nova senha') }}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="inputpassword">Confirmar Senha</label>
        {% if form.confirm_password.errors %}
          {{ form.confirm_password(class = 'form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirm_password(class = 'form-control', placeholder = 'confirme a senha') }}
        {% endif %}
      </div>
      <div class="text-center mt-3">{{ form.submit(class = 'btn btn-primary text-white') }}</div>
      <div class="d-flex mt-3">
        <div class="form-group ml-auto">
          <small class=""><a class="form-text text-secondary text-muted text-right" href="{{ url_for('user.login') }}">Login</a></small>
        </div>
      </div>
    </form>

    {% endblock  %}

